

<section id="registrationPage">
  <div class="container p-2">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Registration</h4>
            <hr>
            <form #myForm="ngForm" (ngSubmit)="register()" class="p-3">
              <!--Name input-->
              <div class="form-group row">
                <label for="name" class="col-sm-2 form-control-label">Name</label>
                <input type="text" id="name" name="name" class="col-sm-10 form-control"
                       [(ngModel)]="name"
                       required
                       minlength="4"
                       #nameInput="ngModel"
                >
                <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class=" col-sm-10 offset-sm-2 alert alert-danger">
                  <div *ngIf="nameInput.errors.required">
                    Name is required
                  </div>
                  <div *ngIf="nameInput.errors.minlength">
                    Name must be at least 4 character long
                  </div>
                </div>
              </div>
              <!--Email input-->
              <div class="form-group row">
                <label for="email" class="col-sm-2 form-control-label">Email</label>
                <input type="email" id="email" name="email" class="col-sm-10 form-control"
                       [(ngModel)]="email"
                       required
                       #emailInput="ngModel"
                >
                <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class=" col-sm-10 offset-sm-2 alert alert-danger">

                  <div *ngIf="emailInput.errors.required">
                    Email is required
                  </div>
                </div>
              </div>
              <!--Password input-->
              <div class="form-group row">
                <label for="password" class="col-sm-2 form-control-label">Password</label>
                <input type="password" id="password" name="password" class="col-sm-10 form-control"
                       [(ngModel)]="password"
                       required
                       minlength="6"
                       #passwordInput="ngModel"
                >
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class=" col-sm-10 offset-sm-2 alert alert-danger">

                  <div *ngIf="passwordInput.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="passwordInput.errors.minlength">
                    Password must be at least 6 character long
                  </div>
                </div>
              </div>
              <!--Repassword input-->
              <div class="form-group row">
                <label for="rePassword" class="col-sm-2 form-control-label">Confirm Password</label>
                <input type="password" id="rePassword" name="rePassword" class="col-sm-10 form-control"
                       [(ngModel)]="rePassword"
                       required
                       #rePasswordInput="ngModel"
                >
                <div *ngIf="rePasswordInput.invalid && (rePasswordInput.dirty || rePasswordInput.touched)" class=" col-sm-10 offset-sm-2 alert alert-danger">
                  <div *ngIf="rePasswordInput.errors.required">
                    Please confirm password
                  </div>
                </div>
              </div>

              <!--IsSeller-->
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" name="isSeller" [(ngModel)]="isSeller" class="form-check-input"> Register as Seller
                </label>
              </div>
              <hr>
              <input class="btn btn-primary btn-block" type="submit" [disabled]="!myForm.form.valid" value="Register">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
